<button class="btn btn-primary m-5" (click)="productsModal.showModal()">
  Add Product
</button>

<dialog #productsModal class="modal">
  <div class="modal-box max-w-2xl">
    <h3 class="text-lg font-bold">Add Product</h3>

    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm.value)">
      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Name</span>
        </label>
        <input
          class="input input-bordered w-full"
          type="text"
          name="name"
          ngModel
          required
          placeholder="Product name"
        />
      </div>
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text">Category</span>
        </label>
        <select
          class="select select-bordered w-full"
          name="categoryId"
          ngModel
          required
        >
          <option value="" disabled selected>Select a category</option>
          @for (category of categories(); track category.id) {
          <option [value]="category.id">{{ category.nombre }}</option>
          } @if (categoryService.isLoading()) {
          <option disabled>Loading categories...</option>
          }
        </select>
      </div>

      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Price</span>
        </label>
        <input
          class="input input-bordered w-full"
          type="number"
          name="price"
          ngModel
          required
          min="0"
          step="0.01"
          placeholder="0.00"
        />
      </div>

      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Description</span>
        </label>
        <br />
        <textarea
          class="textarea textarea-bordered h-24"
          name="description"
          ngModel
          placeholder="Product description"
        ></textarea>
      </div>

      <div class="modal-action">
        <button class="btn" type="button" (click)="productsModal.close()">
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="productForm.invalid"
        >
          Add Product
        </button>
      </div>
    </form>
  </div>

  <!-- Click outside to close -->
  <form method="dialog" class="modal-backdrop">
    <button (click)="productsModal.close()">close</button>
  </form>
</dialog>
