  <!-- <button class="btn m-5" onclick="products_modal.showModal()">Add Product</button>

<dialog id="products_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Add Product</h3>

    <form #productForm="ngForm" (ngSubmit)="addProduct(productForm.value)">
        <div class="form-control mb-4">
            <label class="label" for="name">Name</label>
            <input class="input input-bordered" type="text" id="name" name="name" ngModel required />
        </div>
        <div class="form-control mb-4">
            <label class="label" for="price">Price</label>
            <input class="input input-bordered" type="number" id="price" name="price" ngModel required min="0" />
        </div>
        <div class="form-control mb-4">
            <label class="label" for="description">Description</label>
            <textarea class="textarea textarea-bordered" id="description" name="description" ngModel></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="productForm.invalid">Add</button>
    </form>
    
</div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog> -->

<app-products-form/>
<app-table [data]="products" [title]="'Products'" />
