@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
