<dialog #productsModal class="modal modal-open">
  <div class="modal-box max-w-2xl">
    <h3 class="text-lg font-bold">Edit Product</h3>

    <form #productForm="ngForm" (ngSubmit)="updateProduct(productForm.value)">
      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Name</span>
        </label>
        <input
          class="input input-bordered w-full"
          type="text"
          name="name"
          ngModel
          required
          placeholder="Product name"
          [ngModel]="product?.name"
        />
      </div>
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text">Category</span>
        </label>
        <select
          class="select select-bordered w-full"
          name="categoryId"
          ngModel
          required
          [ngModel]="product?.categoryId"
        >
          <option value="" disabled>Select a category</option>
          @for (category of categories(); track category.id) {
          <option [value]="category.id">{{ category.nombre }}</option>
          } @if (categoryService.isLoading()) {
          <option disabled>Loading categories...</option>
          }
        </select>
      </div>

      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Price</span>
        </label>
        <input
          class="input input-bordered w-full"
          type="number"
          name="price"
          ngModel
          required
          min="0"
          step="0.01"
          placeholder="0.00"
          [ngModel]="product?.price"
        />
      </div>

      <div class="form-control mb-4">
        <label class="my-3 label">
          <span class="label-text">Description</span>
        </label>
        <br />
        <textarea
          class="textarea textarea-bordered h-24"
          name="description"
          ngModel
          placeholder="Product description"
          [ngModel]="product?.description"
        ></textarea>
      </div>

      <div class="modal-action">
        <button class="btn" type="button" (click)="cancel.emit()">
          Cancel
        </button>
        <button
          class="btn btn-primary"
          type="submit"
          (click)="updateProduct(productForm.value)"
        >
          Save Changes
        </button>
      </div>
    </form>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button (click)="cancel.emit()">close</button>
  </form>
</dialog>
